asgiref==3.7.2
backoff==2.2.1
backports.zoneinfo==0.2.1
certifi==2023.7.22
charset-normalizer==3.3.2
Deprecated==1.2.14
Django==4.2.7
googleapis-common-protos==1.61.0
grpcio==1.59.2
idna==3.4
importlib-metadata==6.8.0
protobuf==4.24.4
requests==2.31.0
sqlparse==0.4.4
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-aws-lambda
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlite3
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-wsgi
opentelemetry-propagator-aws-xray
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
typing-extensions==4.8.0
urllib3==2.0.7
wrapt==1.15.0
zipp==3.17.0
